.title-page {
    margin-top: 24px;
}

.content {
    margin-top: 30px;
}

.information {
    margin: 0 20px;
}

.image {
    max-width: 80%;
    max-height: 500px;
}

.button {
    margin: 100px auto;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}