.list-title {
    font-size: 20px;
    margin: 10px 15px;
}

.list-block {
    width: 100%;
    min-width: 300px;
    min-height: fit-content;
    height: fit-content;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 40px;
    display: flex;
}

.block-style {
    margin: 50px auto;
    min-width: 300px;
    width: 75%;
}

.description {
    margin-left: 10px;
}

.info-block {
    width: 67%;
    min-width: 100px;
    display: block;
}

.image-block {
    width: 25%;
    min-width: 60px;
    margin-left: 20px;
}

.img {
    width: 100%;
    height: auto;
}